.topSeccion {
    background-image: url(../image/set.jpg);
    height: 910px;
    margin-top: 60px;   
}
.topImgWork {
    background-image: url(../image/arbol-index2.jpg);
    height:500px;
    margin-top: 60px;
}


h1 {
    animation: fade;
    color: $colorTitulo;
    font-family: $funeteTitulo;
    font-weight: 900;
    font-size: 4rem;
    margin-left: 5px;
    margin-top: 100px;
}
h2 {
    animation-delay: .5s;
    color: $colorSubtit;
    font-family: $fuenteSubtit;
    font-size: 3rem;
    letter-spacing: 3px;
}